
<div class="header">
	<div class="header-top" style="padding:0px 0px;">
		<div class="container">
			<div class="header-brand">
				<div class="header-logo">
					<a ui-sref="home">
						<i class="#logo"></i>
						<span class="header-logo-text">Smart <span class="header-logo-highlight">Recruit</span></span>
					</a>
				</div><!-- /.header-logo-->
				<div class="header-slogan">
					<span class="header-slogan-slash">/</span>
					<span class="header-slogan-text"><i>Makes You Smartest</i></span>
				</div><!-- /.header-slogan-->
			</div><!-- /.header-brand -->
		</div><!-- /.container -->
	</div><!-- /.header-top -->
</div><!-- /.header -->

